body {
  margin: 0;
  padding: 0;
  font-family: "Arial", serif;
  color: white;

  background-image: url("/assets/tlo.png");
  background-repeat: repeat;
}

:root {
  --dark-1: #1a1a1a;
  --light-1: #242424;
  --light-2: #696969;
  --background: #2b2b2b;
  --myFont: "Rakkas", cursive;
}
.mainIndexContainer {
  margin: auto;
  width: 80%;
  background-color: var(--dark-1);
}
header {
  font-family: var(--myFont);
  float: left;
  position: relative;
  text-align: left;
  padding: 5px;
  width: 100%;
  height: 10%;
  background-color: var(--dark-1);
  color: red;
  font-size: 30px;
}
.menuInfo {
  background-color: #333;
  position: relative;
}
.menuInfo a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.menuInfo span {
  margin-left: 10px;
  margin-right: 580px;
  float: left;
  color: red;

  font-size: 36px;
}
.menuInfo a:hover {
  background-color: #ddd;
  color: black;
}
.logo {
  margin-left: 40px;
  float: left;
  width: 50px;
}
.joinRoomContainer {
  text-align: center;
  font-family: var(--myFont);
  float: left;
  width: 39%;
  margin-left: 4.7%;
  margin-top: 5%;
  padding: 3%;
  height: 290px;
  font-size: 20px;
  background-color: var(--light-1);
}

.blankContainer {
  text-align: center;
  font-family: var(--myFont);
  float: right;
  width: 35%;
  margin-right: 4.7%;
  margin-top: 5%;
  height: 235px;
  padding: 5%;
  font-size: 30px;
  background-color: var(--light-1);
}

.joinRoomContainer .formControl {
  margin: 20px;
}
.btn {
  font-family: var(--myFont);
  background-color: black;
  color: red;
  padding: 5px 30px;
  text-align: center;
  display: inline-block;
  height: 43px;
  font-size: 19px;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
}
input {
  font-family: var(--myFont);
  position: relative;
  color: white;
  background: black;
  width: 36%;
  padding: 20px;
  height: 0px;
  font-size: 100%;
}

.select {
  font-family: var(--myFont);
  font-family: Arial;
  background-color: black;
  color: white;
  height: 35px;
  font-size: 19px;

  width: 22%;
}
.kura {
  float: left;
  margin: 5%;
  width: 40%;
}

.dupa {
  margin-top: 10px;
}
/* Wisielec page */
.startButton {
  position: relative;
  padding: 20%;
  margin: 100%;

  margin-left: 180%;
  background-color: red;
  border-color: white;
  font-size: 25px;
  font-family: var(--myFont);
}
.mainWisielecContainer {
  font-family: var(--myFont);
  float: left;
  margin: 2%;
  margin-left: 10%;
  height: 100%;
  width: 80%;
  background-color: var(--dark-1);
}
.titleBanner {
  font-family: var(--myFont);

  position: relative;
  text-align: center;
  padding: 5px;
  width: 90%;
  height: 10%;
  background-color: var(--dark-1);
  color: white;
  font-size: 25px;
}

.selectPasswordContainer {
  font-family: var(--myFont);
  margin-top: -5px;
  text-align: center;
  float: left;
  width: 60%;
  height: 85px;
  background-color: var(--light-1);
  visibility: visible;
}
#passForm {
  visibility: hidden;
}
.passForm input {
  width: 30%;
}

.pointsContainer {
  font-family: var(--myFont);
  padding: 0px 0px 14px;
  text-align: center;
  float: left;
  width: 40%;
  height: 122px;
  background-color: var(--light-2);
}

.playersPoints {
  font-family: var(--myFont);
  height: 135px;
  overflow-y: scroll;
}
.joinRoomContainer p {
  font-size: 30px;
}
.pointsContainer #czas,
#pkt,
#szanse {
  font-family: var(--myFont);
  float: left;
  margin: 20px;
}

.gameContainer {
  font-family: var(--myFont);
  position: relative;
  top: -60px;
  padding: 14px 0px 14px;
  text-align: center;
  float: left;
  width: 60%;
  height: 462px;
  background-color: black;
  color: white;
  font-size: 50px;
}
.chat {
  font-family: var(--myFont);
  padding: 14px 5% 14px;
  text-align: left;
  float: left;
  width: 30%;
  height: 300px;
  background-color: var(--dark-2);
  overflow-y: scroll;
}

.chatInput {
  font-family: var(--myFont);
  padding: 14px 0px 14px;
  text-align: center;
  float: left;
  width: 40%;
  height: 72px;
  background-color: var(--light-2);
}

.backToHomeButton {
  font-family: var(--myFont);
  float: right;
}
img {
  width: 100%;
}

#wisielec {
  position: relative;
  float: left;
  left: 10px;
}

/* czolko */
.selectPasswordContainer2 {
  font-family: var(--myFont);
  padding: 2px 0px 14px;
  text-align: center;
  float: left;
  width: 60%;
  height: 60px;
  background-color: var(--light-1);
  visibility: visible;
}

.personInfo {
  font-family: var(--myFont);
  position: relative;
  top: -60px;
  padding: 14px 0px 14px;
  text-align: center;
  float: left;
  width: 30%;
  height: 462px;
  background-color: black;
  color: white;
  font-size: 50px;
}
.gameContainer2 {
  font-family: var(--myFont);
  position: relative;
  top: -60px;
  padding: 14px 0px 14px;
  text-align: center;
  float: left;
  width: 30%;
  height: 462px;
  background-color: black;
  background-color: white;
  font-size: 50px;
}
