body {
  margin: 0;
  padding: 0;
  font-family: "Arial", serif;
  color: white;
  background-color: var(--background);
}

:root {
  --dark-1: #1a1a1a;
  --light-1: #242424;
  --light-2: #696969;
  --background: #2b2b2b;
}
.mainIndexContainer {
  margin: auto;
  width: 80%;
  background-color: var(--dark-1);
}
header {
  position: relative;
  text-align: center;
  padding: 5px;
  width: 100%;
  height: 10%;
  background-color: var(--dark-1);
  color: red;
  font-size: 30px;
}

.joinRoomContainer {
  text-align: center;

  float: left;
  width: 30%;
  margin-left: 19%;
  margin-top: 5%;

  height: 290px;
  padding: 30px, 430px;
  background-color: var(--light-1);
}

.blankContainer {
  text-align: center;

  float: right;
  width: 30%;
  margin-right: 19%;
  margin-top: 5%;
  height: 290px;
  padding: 30px, 430px;
  background-color: var(--light-1);
}

.joinRoomContainer .formControl {
  margin: 20px;
}
.btn {
  background-color: black;
  color: white;
  padding: 5px 30px;
  text-align: center;
  display: inline-block;
  font-size: 19px;
  margin: 4px 2px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
}
input {
  position: relative;
  color: white;
  background: black;
  padding: 20px;
  height: 0px;
  font-size: 20px;
  border-radius: 15px;
}

.select {
  font-family: Arial;
  background-color: black;
  color: white;
  font-size: 19px;
  border: none;
  width: 100px;
}

.dupa {
  margin-top: 60px;
}
/* Wisielec page */

.mainWisielecContainer {
  margin: 30px auto;
  height: 100%;
  width: 80%;
  background-color: var(--dark-1);
}
.titleBanner {
  position: relative;
  text-align: center;
  padding: 5px;
  width: 90%;
  height: 10%;
  background-color: var(--dark-1);
  color: white;
  font-size: 25px;
}

.selectPasswordContainer {
  padding: 2px 0px 14px;
  text-align: center;
  float: left;
  width: 60%;
  height: 60px;
  background-color: var(--light-1);
  visibility: hidden;
}

.pointsContainer {
  padding: 0px 0px 14px;
  text-align: center;
  float: left;
  width: 40%;
  height: 122px;
  background-color: var(--light-2);
}

.playersPoints {
  height: 135px;
  overflow-y: scroll;
}

.pointsContainer #czas,
#pkt,
#szanse {
  float: left;
  margin: 20px;
}

.gameContainer {
  position: relative;
  top: -60px;
  padding: 14px 0px 14px;
  text-align: center;
  float: left;
  width: 60%;
  height: 462px;
  background-color: black;
  color: white;
  font-size: 50px;
}
.chat {
  padding: 14px 5% 14px;
  text-align: left;
  float: left;
  width: 30%;
  height: 300px;
  background-color: var(--dark-2);
  overflow-y: scroll;
}

.chatInput {
  padding: 14px 0px 14px;
  text-align: center;
  float: left;
  width: 40%;
  height: 72px;
  background-color: var(--light-2);
}

.backToHomeButton {
  float: right;
}
img {
  width: 100px;
}

#wisielec {
  position: relative;
  float: left;
  left: 10px;
}
